{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "DB2_CONNECTION_STRING": "DATABASE=bludb;HOSTNAME=db2-hostname.eu-de.db2w.cloud.ibm.com;PORT=50001;PROTOCOL=TCPIP;UID=username;PWD=password;SECURITY=SSL"
  }
}